@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*--------------------------------Header with navbar*/

.lp-navbar {
    background-color: #3bbfbf;
    margin: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
    -moz-box-shadow: 0 8px 6px -5px rgba(0, 0,0,0.75);
    -webkit-box-shadow: 0 8px 6px -5px rgba(0, 0,0,0.75);
    box-shadow: 0 8px 6px -5px rgba(0, 0,0,0.75);
}

.lp-navbar-brand {
    padding: 0;
} 
/*
.lp-navbar-toggler {
}
*/

.lp-nav-item span {
    color: #73185b;
    font-size: 24px;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 500;
}

.lp-nav-item span:hover {
    color: #d6d3c1;
}

/*--------------------------------social links and logo*/

.lp-social-links i {
    font-size: 2em;
    color:#73185b;
}

.lp-social-links i:hover {
    color: #d6d3c1;
}

#logo {
    width:140px;
    height:100px;
}

/*--------------------------------Image Carousel*/

.lp-carousel-view {
    max-height: 700px;
}

.lp-carusel-caption {
    margin:10%;
}

.lp-carusel-caption h2 {
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 500;
    color: #bf3b9c;
    background-color: rgba(0,0,0,0.2) 
}

.lp-carusel-caption p {
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 500;
}

/*--------------------------------About*/

.lp-about-container {
    background:#3bbfbf ;
}

.lp-about h2 {
    font-family:'Open Sans',sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
    
}

.lp-about p {
    font-family:'Libre Baskerville', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.lp-list li {
    font-family:'Libre Baskerville', sans-serif;
    font-size: 16px; 
}
.lp-about span {
    color: #000;
    background-color: #fff;
    padding:5px;
    border-radius: 3%;
}

.lp-video {
    border: 3px solid #73185b;
    border-radius: 3%;
}

/*--------------------------------Contact Us*/

.lp-contact {
    background-color: #d6d3c1;
}

.lp-contact legend {
    text-align: center;    
}

.lp-contact legend span {
    background-color: #fff;
    padding:8px;
    border-radius: 3%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.lp-group span {
    background-color:#fff;
    padding: 5px;
    border-radius: 3%;
    font-family:'Libre Baskerville', sans-serif;
    font-weight: 400;
}

.lp-btn {
    background-color: #fff;
    color:#000;
    border-radius: 3%;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.lp-btn:hover {
    background-color: #73185b;
    color: #fff;
}

.lp-contact-link a {
    color:#000;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.lp-contact-link a:hover {
    color: #73185b;
    background-color: transparent;
    text-decoration: none;
}

/*--------------------------------Footer*/

.lp-footer {
    background-color: #3bbfbf;
}

.lp-footer p {
    font-family:'Libre Baskerville', sans-serif;
    color: #73185b; 
}