@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*--------------------------------Header with navbar*/

.lp-navbar {
    background-color: #3bbfbf;
    margin: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
    -moz-box-shadow: 0 8px 6px -5px rgba(0, 0,0,0.75);
    -webkit-box-shadow: 0 8px 6px -5px rgba(0, 0,0,0.75);
    box-shadow: 0 8px 6px -5px rgba(0, 0,0,0.75);
}

.lp-navbar-brand {
    padding: 0;
} 

.lp-nav-item span {
    color: #73185b;
    font-size: 24px;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 500;
}

.lp-nav-item span:hover {
    color: #d6d3c1;
}

/*--------------------------------social links and logo*/

.lp-social-links i {
    font-size: 2em;
    color:#73185b;
}

.lp-social-links i:hover {
    color: #d6d3c1;
}

#logo {
    width:140px;
    height:100px;
    margin-right: 8px;
}

/*--------------------------------Image Carousel*/

.lp-carousel-view {
    max-height: 700px;
}

.lp-carusel-caption {
    margin:20%;
    padding:5px;
    background-color: rgba(255, 255, 255, 0.6);
}

.lp-carusel-caption h2 {
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 500;
    color: #73185b;
    margin-top: 5px;    
}

.lp-carusel-caption p {
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 500;
    color: #000;
    margin-bottom: 5px;
}

/*--------------------------------About*/

.lp-about-container {
    background:#3bbfbf ;
    color:#73185b
}

.lp-about h4 {
    font-family: 'Open Sans',sans-serif;
}
.lp-about p {
    font-family:'Libre Baskerville', sans-serif;
    font-weight: 400;
    
}

.lp-divider {
    width: 30px;
    height: 2px;
    background-color: #73185b;
    border:0;
}

.lp-video {
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
    
}

/*--------------------------------Contact Us*/

.lp-contact {
    background-color: #d6d3c1;
}

.lp-contact legend {
    text-align: center;
    margin-bottom: 15px;    
}

.lp-contact legend span {
    border:1px solid #000;
    padding:8px;
    border-radius: 3%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.lp-group span {
    padding: 5px;
    border:1px solid #000;
    border-radius: 3%;
    font-family:'Libre Baskerville', sans-serif;
    font-weight: 400;
}

.lp-btn {
    border:1px solid #000;
    color:#000;
    border-radius: 3%;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.lp-btn:hover {
    background-color: #73185b;
    color: #fff;
}

.lp-contact-link a {
    color:#000;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.lp-contact-link a:hover {
    color: #73185b;
    background-color: transparent;
    text-decoration: none;
}

/*--------------------------------Footer*/

.lp-footer {
    background-color: #3bbfbf;
    box-shadow: 0 -8px 5px -5px rgb(0,0,0,0.75);
    -moz-box-shadow: 0 -8px 6px -5px rgba(0, 0,0,0.75);
    -webkit-box-shadow: 0 -8px 6px -5px rgba(0, 0,0,0.75);
}

.lp-footer p {
    font-family:'Libre Baskerville', sans-serif;
    color: #73185b;
    margin-bottom: 8px; 
}

/*--------------------------------Locations*/

.lp-locations {
    background: #d6d3c1;
}
.lp-locations h2 {    
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    color: #73185b;
}

.lp-locations h3,h4{
    font-family:'Libre Baskerville', sans-serif;
    color: #73185b;
}

.lp-facillities-item{
    background-color: #3bbfbf;
}

.lp-facillities-castle {
    background-color: #d6d3c1;
}
.lp-loc-castle {
    background: #3bbfbf;
}

.lp-loc-castle h2 {
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    color: #73185b;
}

.lp-loc-castle h3,h4 {
    font-family:'Libre Baskerville', sans-serif;
    color: #73185b;
}

.lp-loc-image {
    width:80%;
    height:80%;   
}

.lp-loc-social {
    color:#73185b;
    font-size: 3em;
}

.lp-loc-social:hover {
    color: #bf3b9c;
}

.lp-table {
    margin:0;
}

/*--------------------------------Gallery*/

.lp-gallery {
    background-color:#d6d3c1 ;
}

.lp-gallery span {
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    color: #73185b;

}
.lp-image {
    margin-bottom:15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.lp-arrow i {
    font-size: 3rem;
    color: #73185b;
}.lp-arrow i:hover {
    color: #bf3b9c;
}